@font-face {
    font-family: DroidSans;
    src: url(../fonts/DroidSans.ttf);
}

.hide {
    display: none;
}

body {
    background-color: #ededed;
    text-align: center;
    font-family: DroidSans;
    color: #888;
}

.nav {
    background-color: #adb7f5;
    border-bottom: 3pt solid #969fd8;
}

#logo {
    height: 60px;
}

.brand {
    width: 100px;
    margin-left: 20px;
}

#nav-search {
    width: 25vw;
    border-radius: 50px;
}

#search-btn-icon { 
    margin: 0 5px; 
    font-size: 1.5em;
    color: #fff; 
    cursor: pointer;    
}

#dropdownMenuLink {
    margin-left: 30px;
    color: #fff;
    height: 100%;
}

.form-header {
    color: #737fca;
    margin-top: 60px;
    margin-bottom: 40px;
}

.button {
    background-color: #737fca;
    border: none;
    /* margin-bottom: 60px; */
    opacity: 1;
}

#btnGuest {
    margin-bottom: 60px;
    background-color: #adb7f5;
}

#createUser {
    margin-bottom: 0px;
}

.not-member {
    margin-bottom: 60px;    
}

#sign-up:link,
#sign-up:visited {
    color: #737fca;
}

/* CANDACE ADDED, Nataliia edited :)*/
.main-div {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
    position: relative;
    position: absolute;
    top: 20%;
    left: 4%;
    z-index: 5;
    width: 28%;
}

.main-div:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.main-div button:focus,
.main-div button:active {
    outline: 0;
}

.main-div button:hover,
.loggedin-div button:hover, {
    background: #fff;
    color: #a7b2fc;
    border: 1px solid #6d7bd4;  
    cursor: pointer;
}

#location-btn {
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 5;
}

#pinModal {
    position: absolute;
    bottom: 15%;
    right: 10%;
    z-index: 5;
}

/* in rating modal */
#rateThisTitle {
    text-align: left;
}

#ratingUser {
    padding-left: 0;
}

#ratingForm {
    text-align: left;
}

#map {
    height: 92vh;
    overflow: visible;
    position: absolute;
    z-index: -1;
}

#plus-icon {
    width: 4.8rem;  
}

#drop-pin {
    background-color: #6d7bd4;
    border: none;
}