@font-face {
    font-family: DroidSans;
    src: url(../fonts/DroidSans.ttf);
}

.hide {
    display: none;
}

body {
    background-color: #ededed;
    text-align: center;
    font-family: DroidSans;
    color: #888;
}

.nav {
    background-color: #adb7f5;
    border-bottom: 3pt solid #969fd8;
}

#logo {
    height: 60px;
}

.brand {
    width: 100px;
    margin-left: 20px;
}

.search-field {
    position: relative;
}

#nav-search {
    width: 30vw;
    border-radius: 50px;
}

#search-btn-icon {
    margin: 0 5px;
    position: absolute;
    right: 10px;
    font-size: 1.5em;
    color: #adb7f5;
    cursor: pointer;
    line-height: inherit;
}

#dropdownMenuLink {
    margin-left: 30px;
    color: #fff;
    height: 100%;
    vertical-align: sub;
}

.form-header {
    color: #737fca;
    margin-top: 60px;
    margin-bottom: 40px;
}

.button {
    background-color: #737fca;
    border: none;
    /* margin-bottom: 60px; */
    opacity: 1;
}

#btnGuest {
    margin-bottom: 60px;
    background-color: #adb7f5;
}

#createUser {
    margin-bottom: 0px;
}

.not-member {
    margin-bottom: 60px;
}

#sign-up:link,
#sign-up:visited {
    color: #737fca;
}

/* CANDACE ADDED, Nataliia edited #bcSheRocks :)*/
.main-div {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
    position: relative;
    position: absolute;
    top: 20%;
    left: 4%;
    z-index: 5;
    width: 28%;
}

.main-div:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.main-div button:focus,
.main-div button:active {
    outline: 0;
}

.main-div button:hover,
.loggedin-div button:hover,
    {
    background: #fff;
    color: #a7b2fc;
    border: 1px solid #6d7bd4;
    cursor: pointer;
}

#location-btn {
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 5;
}

#pinModal {
    position: absolute;
    bottom: 15%;
    right: 10%;
    z-index: 5;
}

/* in rating modal */
#rateThisTitle {
    text-align: left;
}

#ratingUser {
    padding-left: 0;
}

#ratingForm {
    text-align: left;
}

#map {
    height: 92vh;
    overflow: visible;
    position: absolute;
    z-index: -1;
}

#plus-icon {
    width: 4.8rem;
}

#drop-pin {
    background-color: #6d7bd4;
    border: none;
}

.star-rating {
    line-height: 32px;
    font-size: 1.25em;
}

.star-rating .fa-star {
    color: rgb(250, 226, 14);
}

.reviews-header {
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.recent-review {
    text-align: left;
    margin-bottom: 10px;
    padding: 0 20px;
}
.recent-review p {
    margin-bottom: 0;
    font-size: .9rem;
    color: #aaa
}

.recent-review p span {
    color: #737fca;
    font-size: 1rem;
    margin-left: 10px;
}

.recent-review p:last-child span {
    color: #777;
}

.recent-review p:first-child span {
    color: #222;
}


@media screen and (max-width: 1100px) {
    .main-div {
        left: 4%;
        width: 35%;
    }
}

@media screen and (max-width: 980px) {
    .main-div {
        left: 25%;
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        z-index: 8;
    }

    .navbar-expand-md #nav-search {
        width: 95vw;
        position: relative;
    }

    .navbar-expand-md #search-btn-icon {
        right: 1em;
    }

    #sign-out {
        text-align: center;
    }
    #location-btn {
        bottom: 10%;
    }

    .main-div {
        left: 25%;
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .nav {
        z-index: 8;
    }

    .navbar-expand-md #nav-search {
        width: 92vw;
        position: relative;
    }

    .main-div {
        position: absolute;
        top: 25%;
        left: 15%;
        width: 70%;
    }

    #plus-icon {
        width: 4rem;
    }

    .form-header {
        margin-top: 20px;
    }

    #btnGuest {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .navbar-expand-md #nav-search {
        width: 90vw;
        position: relative;
    }

    .main-div {
        position: absolute;
        top: 25%;
        left: 5%;
        width: 90%;
    }

    .not-member {
        margin-bottom: 20px;
    }

    #plus-icon {
        width: 3rem;
    }

    #location-btn {
        bottom: 5%;
        right: 40%;
    }
}